@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Add your other custom CSS here */

body, html, * {
  font-family: 'Roboto Mono', monospace !important;
}